.jumbotron{
    background-color:#0c271a;
    text-align: center;
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
}
.page-header {
    text-align:center;
    border-bottom: 2px solid #0c271a;
    box-shadow: 0 20px 20px -20px #333;
    border-radius:5px;
    
  }
  footer {
    left: 0;
    bottom: 100%;
    background-color: #0c271a;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
 
  .fa:hover {
    opacity: 0.7;
  }

  /* Facebook */
  .fa-facebook {
   
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    
    color: white;
  }

  /* Facebook */
  .fa-github {
   
    color: white;
  }
  
  /* Twitter */
  .fa-linkedin {
    
    color: white;
  }
  .panel-footer{
    text-align: center;
  }
  
  h5{
        text-align: center;
  }
  
  p{
      padding-top: 20px;
   }
  h2{
        font-size: 30px;
    }